data/openweb10B
data/openweb10B/
.data/openweb10B
.data/openweb10B/
*.pyc
logs/* 
*.png
*.bin
results_*
*.gif
*.pt
.DS_Store
log/*

# Local NCCL tuner placeholder created by repo-owned launchers on RunPod.
dummy_tuner_config.txt
